<row>
    <div class="col-sm-12 col-md-8 col-md-offset-2 scanagram-maincontent">
        <h1>
            Lorum ipsum
        </h1>
        <row>
            <div class="col-sm-12">
                <img class="scanagram-image" src="~/images/0_big.jpg" />
                <div class="scanagram-cropperpoint" style="top:20px; left:20px;"></div>
                <div class="scanagram-cropperpoint" style="top:20px; right:20px;"></div>
                <div class="scanagram-cropperpoint" style="bottom:20px; left:20px;"></div>
                <div class="scanagram-cropperpoint" style="bottom:20px; right:20px;"></div>
            </div>
        </row>

        <input type="button" class="scanagram-button btn btn-primary pull-right" value="Übernehmen"/>
    </div>
</row>